# Программирование на Python

*Авторы: Анастасия Паршина, Дарья Касьяненко, Лика Капустина, Даниил Трошин — НИУ ВШЭ*

# Часть 1. Основные типы данных. Создание переменных. Основные ошибки.

## План

* Функции и вывод данных
* Основные типы данных: число, текст
* Действия с основными типами данных
* Переменные
* Ввод данных
* Немного об ошибках
* Разметка Markdown в Jupyter Notebook

### Где мы будем работать?

Jupyter Notebook - интерактивная среда для запуска программного кода в браузере. Удобный инструмент, который используется многими специалистами по data science.

![](https://media2.giphy.com/media/2IudUHdI075HL02Pkk/giphy.gif?cid=ecf05e47ty9lob0kw3ifr0d4xrcpwag7oarei12devpt0bpz&ep=v1_gifs_search&rid=giphy.gif&ct=g)

###  Меньше текста, больше кода

**Напутствие**:
- *главное не бояться пробовать писать код*
- *каким бы неправильным он ни казался*
- *скорее всего, ничего такого, что бы не починилось, в рамках Jupyter Notebook вы сделать не сможете*

**Краткая инструкция на все случаи жизни**:
- Как создать новую ячейку?

> Просто нажать кнопку `+` (*insert cell below*) на панели меню выше.

- Как запустить код в ячейке?

> Выделить ячейку и нажать кнопку `Run`/ `Запуск` или `Ctrl + Enter`(Windows), `Cmd + Enter`(Mac) *(см. Help - Keyboard Shortcuts)*. Также можно запустить все ячейки сразу (`Run All Cells`), или все ДО выбранной (`Run All Above Selected Cell`), или все ПОСЛЕ выбранной (`Run Selected Cell and All Below`).

- Как понять, что код успешно выполнен?

> Под ячейкой не появились сообщения об ошибках + поле `In []` / `Ввод []` слева от ячейки содержит число, а не символ `*`.

- Что делать, если код не хочет успешно выполняться, поле слева выглядит вот так `In [*]` / `Ввод [*]` и вообще всё зависло аааа помогите
<img src="https://media4.giphy.com/media/YBf4bJkA2Ns17oix5x/giphy.gif" style="width: 300px;"/>

> Для прерывания выполнения кода можно попробовать нажать кнопку `■` (*interrupt the kernel*) в панели наверху, либо перезапустить весь проект, нажав соседнюю кнопку (*restart the kernel*).

## Функции и вывод на экран

В дальнейшем вы часто будете использовать _функции_ из Python или из специализированных Python-модулей.

_Функция_ -- это какой-то скрытый от вас программный код, который можно применять для решения конкретной задачи.

Например, познакомимся с функцией `print`:
- нужна для того, чтобы выводить на экран текст / числа / что угодно ещё
- формат вызова: `print(<первое, что хотите вывести на экран>, <второе, что хотите вывести на экран>, ...)`

То, что перечисляется внутри скобок и разделяется запятыми, называется *аргументами* или _входами_ функции

<img src="https://i.ibb.co/12sSpRd/Untitled-Frame-1-11.jpg" alt="Drawing" style="width: 800px;"/>

Для начала сделаем классику – выведем текст "Hello world!"

Обычно это первый пример программы в учебниках по программированию, и для многих студентов такая программа является первым опытом при изучении нового языка. Одно из значений фразы – программа, начиная работу, как бы рождается и приветствует мир, в который она приходит.

In [ ]:
print('Hello, world!')

Hello, world!

Попробуем вывести результат сложения чисел 42 и 146:

In [ ]:
print(42+146)
# всё, что пишется за знаком #, воспринимается как комментарий и не выполняется в рамках программы

188

## Типы данных: Целые числа — INT (INTEGER)

Python сам понимает, какой тип у данных. Однако, можно так же и запросить у него данную информацию

In [ ]:
print(type(5)) # `type` - это, конечно, тоже функция

<class 'int'>

Разумеется, в python представлены все возможные арифметические операции:

In [ ]:
# сложение
print(4 + 2)
# вычитание
print(4 - 2)

6
2

In [ ]:
# умножение
print(4 * 2)
# деление
print(4 / 2)
# взятие остатка от деления
print(3 % 2)

8
2.0
1

In [ ]:
# возведение в степень
print(3 ** 2)
# взятие корня aka возведение в дробную степень
print(3 ** (1 / 2))

9
1.7320508075688772

Заметим, что здесь у нас в ответах получились не только целые числа, но и дроби.

## Типы данных: Вещественные (действительные) числа — FLOAT

In [ ]:
type(1.5)

float

На что обратить внимание:
- числа с десятичной частью, например, $1.43$, в отличие от Excel, в Python пишутся не через запятую `,`, а через точку `.`.

Почувствуйте разницу:

In [ ]:
print(2,6 / 2)  # печатает два числа
print(2, 6 / 2)  # и так тоже два числа, пробел в данном случае неважен
print(2.6 / 2)  # печатает одно число

2 3.0
2 3.0
1.3

Также не стоит путать целочисленное и обычное деление:

In [ ]:
print(9 / 4)  # печатает ожидаемый дробный результат
print(9 // 4)  # целочисленное деление
print(9 % 4)  # остаток от (целочисленного) деления

2.25
2
1

Результатом операции `/` всегда будет дробное число (`float`), даже если нам удалось разделить нацело.

In [ ]:
print(9 / 9)
print(type(9 / 9))

1.0
<class 'float'>

А результатом операций `//` и `%` – всегда целое (`int`).

In [ ]:
print(9 // 9)
print(type(9 // 9))

1
<class 'int'>

In [ ]:
print(9 % 9)
print(type(9 % 9))

0
<class 'int'>

### Пример целочисленного деления

У нас есть пирог на компанию из 4 человек. Курьер привез пирог, разрезанный на 9 частей.

`9 // 4 = 2`

Каждому человеку достанется 2 куска пирога, и у нас останется еще 1.

`9 % 4 = 1`

<img src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Pie_division.svg/440px-Pie_division.svg.png' style="height: 400px;">

Иногда результаты могут быть довольно неожиданные. Может показаться, что python совершенно не умеет считать:

In [ ]:
print(0.1+0.2)

0.30000000000000004

https://0.30000000000000004.com/ – есть даже целый сайт, который объясняет, что ваш язык программирования не сломан, это просто "floating point math".

## Типы данных: Строки (текст) — STR (STRING)

С помощью `print` можно печатать не только числа. Например, текст:
- текстовая строка в питоне – это любое выражение, заключённое в двойные `"` или одинарные `'` кавычки
- с точки зрения пользователя ничем не отличается от привычного текста

Например:

In [ ]:
print('Моё имя:')

Моё имя:

In [ ]:
type('Моё имя:')

str

Ещё строки можно
- складывать (склеивать)
- умножать на число (раскопировать n-ное кол-во раз)
- использовать встроенные методы (об этом поговорим попозже)

In [ ]:
print('Первая' + 'пара')

Перваяпара

In [ ]:
print('Первая', 'пара')

Первая пара

In [ ]:
?print

In [ ]:
print('У меня '+ 'проблема'*20)

У меня проблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблемапроблема

In [ ]:
print('how')
print('how' + ' ' + 'are')
print('how' * 3)
print(' are' * 2 + 'you?')

how
how are
howhowhow
 are areyou?

При этом вычитать и делить строки, конечно же, нельзя – но в этом и нет смысла.

In [ ]:
print('how' - 'are')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
print('how' / 3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

На что обратить внимание:
- выражение `1` это число
- выражение `'1'` это строка

Почувствуйте разницу:

In [ ]:
print(1 + 2)  # печатает число
print('1' + '2')  # печатает результат склеивания строк
print(str(1) + str(2))  # функция str преобразует аргумент в строку

3
12
12

In [ ]:
print('1' + 2) # а так не получится - мы не можем складывать данные разных типов

TypeError: can only concatenate str (not "int") to str

Да, на самом деле `int`, `float` и `str` – это не только типы данных, но и функции (которые переводят свои аргументы в соответствующие типы данных). Посмотрим, как это работает.

In [ ]:
int('1')

1

In [ ]:
str(1)

'1'

In [ ]:
float(1)

1.0

In [ ]:
float('1')

1.0

In [ ]:
str(4.5)

'4.5'

In [ ]:
print(str(4+5) + 'hello')

9hello

## Переменные

В Python мы можем записывать в переменные какие-либо значения (или наборы значений):

In [ ]:
number = 99
my_name = 'Python'

In [ ]:
print(number)
print(my_name)

99
Python

In [ ]:
number = 10

In [ ]:
print(number)

10

Если мы будем реализовывать какие-то действия с переменными, то они будут осуществляться со значениями, которые записаны в эти переменные:

In [ ]:
print(number*my_name)

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [ ]:
type(number)

int

In [ ]:
type(my_name)

str

И пара слов о том, а какие имена переменных допустимы. Предположим, я хочу назвать переменную `1qwerty` — проверим, получится или нет:

In [ ]:
1qwerty = 2

SyntaxError: invalid decimal literal (271193151.py, line 1)

Выдается ошибка `SyntaxError`, которая явно свидетельствует, что что-то с названием переменной не так. Но тогда, как можно называть переменные, а как нельзя?

Переменные в  Python подчиняются следующим правилам:

+ имя переменной может содержать только буквенно-цифровые символы и символы подчеркивания (A-Za-z, 0-9 и _)
+ имя переменной <u>должно</u> начинаться с буквы или символа подчеркивания
+ имя переменной <u>не может</u> начинаться с цифры
+ в имени переменной <u>не должно</u> быть пробелов
+ имя <u>не должно</u> совпадать со служебными (зарезервированными) словами в Python

Список зарезервированных слов можно узнать так:

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

+ имена переменных чувствительны к регистру
+ рекомендуется давать переменным осмысленные названия

## Ввод данных

Чтобы мы могли передать данные нашей программе существует функция `input()`, которая при запуске выводит окошко для ввода текста.
После того, как вы ввели в окошке текст, нужно нажать клавишу `Enter`. Функция отработает и положит в переменную все то, что вы напечатали в окошке.

In [ ]:
name = input()

Ольга

In [ ]:
type(name) # по умолчанию функция input() сохраняет в переменную все введенное в формате `str`

str

In [ ]:
age = input()

10

In [ ]:
age + 1

TypeError: can only concatenate str (not "int") to str

Видим ошибку, связанную с тем, что `age` – строка (нельзя складывать строки и числа). Вот тут-то нам и пригодится функция `int`, которая поможет перевести наш ввод в число

In [ ]:
age = int(input())

10

In [ ]:
age + 1

11

Так же работает и функция `float`.

In [ ]:
age = float(input())

10.5

In [ ]:
age + 1

11.5

**Важно запомнить**: при вводе мы всегда пишем `input()`, но в зависимости от типа данных навешиваем на него те или иные функции.

Сейчас нам важно, что:
* ввод строки – это просто `input()`
* ввод целого числа – `int(input())`
* ввод дробного числа – `float(input())`

**Задание №1**

Сохраните в переменную `number` число ваших полных лет.

Напечатайте на каждой отдельной строке:
1. Сколько полных лет вам будет через 10 лет;
2. Сколько полных лет вам было 5 лет назад;
3. Какое число получится, если разделить ваш возраст на 3;

In [ ]:
# YOUR CODE HERE

## Изменяемые (mutable) и неизменяемые (immutable) типы данных <a name="par2"></a>

Мы с вами будем потихоньку узнавать разные типы данных в Python, но пока можно ознакомиться с основными из них по этой схеме.

![python-data-types.jpg]()

Нам сейчас важно понять, что данные бывают изменяемыми и неизменяемыми. Посмотрим на табличку.

| Неизменяемые  | Изменяемые    |
|:-------------:|:-------------:|
| числа (`int`, `float`, `complex`)| список (`list`) |
| логический тип (`bool`)      | словари (`dict`)      |  
| кортеж (`tuple`) |множество (`set`)       |    
| строка (`str`) |       |   
| неизменяемое множество (`frozenset`) |       |

Что это значит? Попробуем рассмотреть разницу на примере списков и строк. Список в Python – это упорядоченная последовательность данных (так же, как и строка – на самом деле – упорядоченная последовательность символов).

Подробнее обсуждать списки мы будем позднее, пока же просто посмотрим на то, как они выглядят.

In [ ]:
my_list = [1, 2, 3] # создали список
my_str = "abc" # создали строку

Теперь попробуем изменить значение первого элемента списка.

In [ ]:
my_list[0] = 4 # о том, почему нулевой - это на самом деле первый, тоже подробнее поговорим позже
print(my_list)

[4, 2, 3]

И то же самое с первым элементом строки.

In [ ]:
my_str[0] = "d"
print(my_str)

TypeError: 'str' object does not support item assignment

Это оказалось невозможно. Хотя, конечно, мы можем полностью заменить всю строку.

In [ ]:
my_str = "dbc"
print(my_str)

dbc

В таком случае в переменную просто запишется *новый объект*, но вот старый мы изменить всё ещё не можем. Подробнее об этом, а также о (не)изменяемости других типов можно почитать [здесь](https://github.com/aaparshina/PROG_23-24/blob/main/PROG_01_upd.ipynb).

### И снова про вывод данных <a name="par3.2"></a>

Вспомним, что у функции `print` может быть несколько аргументов, поэтому можно напечатать сразу несколько строк:

In [ ]:
print('Это первая строка', ', А это вторая строка')

Это первая строка , А это вторая строка

Также можно напечатать с помощью  `print()` одновременно и строку, и значение, сохраненное в определенную переменную.

In [ ]:
name = 'Анастасия'
print('В переменную "name" сохранено имя', name)

В переменную "name" сохранено имя Анастасия

Вы можете поместить также в функцию `input()` строку, которая будет показываться пользователям при запуске кода. Например:

In [ ]:
name = input('Введите свое имя: ')
print('Hello, ', name, '!')

Введите свое имя: Анастасия
Hello,  Анастасия !

В примере выше вы можете заметить лишний пробел после имени и перед восклицательным знаком. По дефолту, если вы печатаете несколько переменных, разделителем между ними выступает пробел.

Если вы хотите напечатать более сложную строку, вы можете использовать аргументы `sep` (separator):

In [ ]:
print('раз', 'два', 'три') # можно не использовать аргумент sep
print('раз', 'два', 'три', sep=',') # sep = запятая
print('раз', 'два', 'три', sep=', ') # sep = запятая с пробелом
print('раз', 'два', 'три', sep='') # sep = пустой разделитель

раз два три
раз,два,три
раз, два, три
раздватри

Чтобы пробела не было, можно также использовать сложение строк, тогда они будут склеиваться без разделителя.

In [ ]:
print('раз' + 'два' + 'три')

раздватри

Для комбинации строк и переменных в выводе также удобна f-строка: нужно поставить `f` перед кавычками, а переменную заключить в фигурные скобки.

In [ ]:
name = 'Анастасия'
print(f'Hello, {name}')

Hello, Анастасия

Наконец, есть аргумент `end` (end of the line). По дефолту, это символ переноса на следующую строку `\n`.

In [ ]:
name = 'Анастасия'
print('Hello,', name) # по дефолту, это символ переноса на следующую строку "\n"
print('Hello,', name, end='!') # в конце строки будет напечатан восклицательный знак

Hello, Анастасия
Hello, Анастасия!

**Задание №2**

На первой строке используйте функцию `input()` и сохраните в переменную `course` ваш любимый курс.


На второй строке, используя функцию `print()`, напечатайте строку следующего типа: ```Мой любимый курс – это: <название курса>```

Примеры:

| `course`  | Результат    |
|:-------------:|:-------------:|
| `ИПУ` | `Мой любимый курс – это: ИПУ` |
| `КПН` | `Мой любимый курс – это: КПН` |  
| `Высшая математика` | `Мой любимый курс – это: Высшая математика` |

In [ ]:
course = #YOUR CODE HERE
# YOUR CODE HERE

## Немного об ошибках <a name="par4"></a>

Здесь будут разобраны ошибки, которые чаще всего вы можете встретить. Однако, это лишь небольшая их часть. Если столкнетесь с какой-то новой ошибкой — не стесняйтесь ее загуглить :)

Помните, в начале конспекта у нас была переменная Age? Попробуем ее напечатать:

In [ ]:
print(Age)

NameError: name 'Age' is not defined

Ой, что-то пошло не так. Данна ошибка (`NameError`) буквально говорит нам, что такой переменной нет.

Но ведь была же...

Тут стоит вспомнить, что названия переменных чувствительны к регистру. Мы создавали переменную `age`, а напечатать пытаемся `Age`, которой и правда нет.

Идем дальше. Предположим, у меня есть две переменных, которые я хочу сложить:

In [ ]:
a = 2
b = '3'

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Причину этой ошибки мы уже обсуждали. Когда мы пытаемся сложить число и текст, то программа ругается и не понимает, что от нее хотят.

К слову, если поменять порядок переменных, то тип ошибки (`TypeError`) не поменяется, но будет другое пояснение. Подумайте, почему так происходит.

In [ ]:
print(b + a)

TypeError: can only concatenate str (not "int") to str

И последнее на сегодня. Предположим, что у нас есть строка `'1,23'` — вроде бы десятичная дробь, но провести никакие арифметические операции мы с ней не можем. Значит, нужно попробовать эту строку преобразовать в тип `float`.

In [ ]:
float('1,23')

ValueError: could not convert string to float: '1,23'

Ошибка `ValueError` возникает из-за запятой в строке — функция `float` не понимает, как можно запятую преобразовать в число.

In [ ]:
float('1.23')

1.23

И теперь точно последнее. Предположим, у нас есть строка `'qwerty'` и мы хотим обратиться к последнему ее элементу — шестой букве `'y'`.

In [ ]:
print('qwerty'[6])

IndexError: string index out of range

Ошибка `IndexError` показывает, что элемента с таким индексом в строке нет. Это связано с тем, что индексация в Python начинается с нуля, значит, нам здесь нужен индекс `5` (или `-1`, т.е. первый элемент с конца).

In [ ]:
print('qwerty'[5])
print('qwerty'[-1])

y
y

## Разметка Markdown в Jupyter Notebook <a name="par5"></a>

В среде, в которой мы с вами работаем – в Jupyter Notebook – вы будете пользоваться в основном ячейками двух типов: **Code** и **Markdown**. В ячейке типа **Code** вы можете писать и запускать код, в ячейках **Markdown** вы можете писать и форматировать текст.

Что такое **Markdown** в целом? Это язык разметки, который можно использовать для форматирования текстовых ячеек. В Jupyter Notebook вы можете использовать разные символы для форматирования:

* *Звездочка чтобы выделить текст курсивом* - `*тут текст*`;
* **Две звездочки чтобы выделить текст жирным** - `**тут текст**`;
* Квадратные скобки и круглые скобки чтобы создать гиперссылку – `[Текст гиперссылки](ссылка)`;
* Штрихи чтобы имитировать `код` – \`тут текст или код\`

А также используйте:
* `#` для выделения заголовков первого уровня: `# Заголовок первого уровня`;
* `##` для выделения заголовков второго уровня: `## Заголовок второго уровня`;
* `###` для выделения заголовков третьего уровня: `### Заголовок третьего уровня`;

Если хотите посмотреть, как выглядит разметка в ячейке типа Markdown, дважды кликните на эту ячейку. Узнать про все возможности Markdown можно на [Datacamp](https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook).

**Задача №3**

Используя ячейку типа Markdown и разметку, напечатайте в этой ячейке ниже:

1. Используя заголовок первого уровня, ваше ФИО;
2. Используя заголовок второго уровня, вашу группу;
3. Используя заголовок третьего уровня, ваше любимое животное.

# Часть 2. Логический тип данных. Условные конструкции.

## План

* Логический тип данных
* Сложные логические выражения
* Условные конструкции
* Дополнительные материалы

## Типы данных: Логический (булев) тип — BOOL <a name="par7"></a>

Продолжаем разговор о типах данных. Обсудим логический тип данных (`bool`) — неизменяемый тип, который имеет только два значения `True` и `False`.

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Из чего появляется `True` и `False`? Из утверждений, истинность которых мы хотим проверить. Например, у нас есть числа $2^6$ и $8^2$, и мы утверждаем, что первое больше второго. Так ли это? Проверим:

In [ ]:
print(2**6 > 8**2)

False

Мы получаем False, значит, наше утверждение ложно, и $2^6$ НЕ больше $8^2$. Возможно, тогда $2^6$ меньше $8^2$?

In [ ]:
print(2**6 < 8**2)

False

Снова неверно. Хммм... возможно, числа равны?

In [ ]:
print(2**6 = 8**2) # ой

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3906772551.py, line 1)

Тут ошибка `SyntaxError` указывает нам, что знак `=` отвечает за *присвоение* значения (читай начало конспекта). Но мы точно не собирались создавать переменную и присваивать ей какое-либо значение. Просто хотели проверить, эквивалентна левая часть выражения правой или нет.

На самом деле, для такой проверки используется двойной знак равенства `==`.

In [ ]:
print(2**6 == 8**2)
print(2**6)
print(8**2)

True
64
64

И аналогично, если мы хотим проверить обраную ситуацию, то есть и знак отрицания `!=` т.е. «не эквивалентна».

In [ ]:
print(2**6 != 8**2)
print(2 != 8)

False
True

<center>
    <table>
        <tr>
            <th>Оператор сравнения</th>
            <th> Интерпретация </th>
        </tr>
        <tr><td>&lt;</td><td> Первый операнд меньше второго </td></tr>
        <tr><td>&gt;</td><td> Первый операнд больше второго</td></tr>
        <tr><td>&lt;=</td><td> Меньше или равно</td></tr>
        <tr><td>&gt;=</td><td> Больше или равно</td></tr>
        <tr><td>==</td><td> Два операнда равны </td></tr>
        <tr><td>!=</td><td> Два операнда не равны</td></tr>
    </table>
</center>

In [ ]:
print(f'Если преобразовать True в целое число, то получится {int(True)}')
print(f'Если преобразовать False в целое число, то получится {int(False)}')

Если преобразовать True в целое число, то получится 1
Если преобразовать False в целое число, то получится 0

Также важно понимать, что даже если визуально значения похожи, но типы их данных отличаются, то сравнение через оператор `==` выдаст `False`, например:

In [ ]:
print(True == 'True')

False

<center><b><font size=4>Задача №4.</font></b></center>

Используя табличку с операторами выше, напечатайте результаты сравнения следующих переменных:

1. `40` равно `4 * 10`;
2. `100` больше чем `400 - (100 * 2)`;
3. `300` больше или равно чем `300 + 1`;
4. `80` не равно `4 * 40 / 2`;
5. `21` меньше или равно чем `24 - 2`;

In [ ]:
# YOUR CODE HERE

## Сложные логические выражения <a name="par8"></a>

В Python 3 логических оператора:

+ `and` — логическое "И";
+ `or` — логическое "ИЛИ";
+ `not` — логическое отрицание.

Разберем каждый подробнее.

Предположим, следующую реальную ситуацию: в переменную `project` сохраняется оценка студента за проект, а в переменную `exam` — его же оценка, но уже за экзамен по курсу.

1. Если <u>хотя бы одна</u> оценка больше 8, то студент получает зачет. Как проверить, получил зачет студент или нет?

Здесь нам поможет оператор `or`, котрый работает по такой схеме:
+ если хотя бы одна часть выражения принимает значение True, то в итоге выдается True;
+ если обе части выражения принимают значение False, то в итоге выдается False.

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

Соответственно, на месте этих `True` и `False` могут быть результаты сравнения:

In [ ]:
project = int(input())
exam = int(input())

print(project > 8)
print(exam > 8)

print((project > 8) or (exam > 8)) # зачет получен :)

4
9
False
True
True

2. Если <u>обе</u> оценки больше 8, то студент получает зачет.

Здесь нам поможет оператор `and`, котрый работает по такой схеме:
+ если хотя бы одна часть выражения принимает значение False, то в итоге выдается False;
+ если обе части выражения принимают значение True, то в итоге выдается True.

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print((project > 8) and (exam > 8)) # ой, нет зачета :(

False

Почему эти операторы работают так? Они основаны на логике естественного языка и значениях союзов "и" и "или".

$A$ и $B$ истинно $\Leftrightarrow$ и $A$ истинно, и $B$ истинно (**обе** переменные одновременно)

$A$ или $B$ истинно $\Leftrightarrow$ или $A$ истинно, или $B$ истинно (**хотя бы одна** из них)

3. Пусть студент получает незачёт, если оценка за проект **не** выше 8.

Здесь нам поможет оператор `not`, который просто меняет значение на противоположное.

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
print(not(project > 8)) # а как можно написать то же самое выражение без not?

True

## Условные конструкции <a name="par9"></a>

![d3ec28df8b1bf4e2a8b30623685c212f_.png]()

Условные конструкции — конструкции с операторами условия. Условная конструкция обычно предполагает «развилку»: если условие выполняется, то должен выполняться один набор действий, если нет — другой набор действий. Именно в таких конструкциях чаще всего применяются логические выражения.

В этом контексте вам нужно запомнить три ключевых слова: `if`, `else`, `elif`.

В ситуациях, когда у вас только две возможные развилки, вы будете использовать только `if` и `else`. Представим, что мы пишем программу которая будет на основании введенной оценки сообщать студенту, пойдет он на пересдачу по предмету или нет.

In [ ]:
mark = int(input())

if mark >= 4: # если оценка больше или равна 4,
    print('Вы получили удовлетворительную оценку.') # печатаем эту строку
else: # во всех остальных случаях,
    print('Вы получили неудовлетворительную оценку. Вам будет назначена пересдача.') # печатай это

5
Вы получили удовлетворительную оценку.

Но вы также можете использовать ключевое слово `elif`. Оно используется в ситуациях, когда вы хотите использовать несколько условий и усложнить ваш код. Приведем пример:

* Если оценка студента за предмет меньше 4, он получает пересдачу по этому предмету и теряет стипендию;
* Если оценка за предмет от 4 до 5 включительно, студент не получает пересдачу, но теряет стипендию;
* Если оценка 6 и выше, студент не получает пересдачу и сохраняет стипендию.

Программа, сообщающая студенту статус наличия пересдачи и сохранения стипендии, может выглядеть следующим образом:

In [ ]:
mark = int(input()) # вводим значение, преобразуем его в целое число

if mark < 4: # если оценка меньше четырех, печатаем следующее:
    print('Вы получили пересдачу. Вы потеряли право получать стипендию.')
elif mark < 6: # если условие выше не удовлетворено и при этом оценка меньше 6, печатаем следующее:
    print('Вы не получили пересдачу, но потеряли право получать стипендию.')
else: # во всех остальных случаях, печатаем следующее:
    print('Вы не получили пересдачу, и сохранили вашу стипендию.')

5
Вы не получили пересдачу, но потеряли право получать стипендию.

Вы можете использовать какое угодно число `elif` в своём коде. Продемонстрируем на примере:

Напишем программу, которая будет переводить оценку студента из 10-балльной системы в 5-балльную.

In [ ]:
mark = int(input())

if mark >= 8:                    # если оценка больше или равна 8, то
    print('Отлично')             # печатаем "Отлично"
elif mark >= 6:                  # если оценка больше или равна 6 (но точно меньше 8), то
    print('Хорошо')              # печатаем "Хорошо"
elif mark > 4:                   # если оценка больше или равна 4 (но точно меньше 6), то
    print('Удовлетворительно')   # печатаем "Удовлетворительно"
else:                            # в остальных случаях (то есть оценка меньше 4)
    print('Неудовлетворительно') # печатаем "Неудовлетворительно"

11
Отлично

Предположим, что сотрудник учебного офиса использовал эту программу и ошибся — поставил 11 вместо 1. Непорядок. Надо исправлять. Давайте добавим дополнительную проверку на ввод числа — чтобы оно было строго от 0 до 10 включительно.

In [ ]:
mark = int(input())

if (mark >= 0) and (mark <= 10):    # если оценка от 0 до 10, то проходит проверка:
    if mark >= 8:                     # если оценка больше или равна 8, то
        print('Отлично')              # печатаем "Отлично"
    elif mark >= 6:                   # если оценка больше или равна 6 (но точно меньше 8), то
        print('Хорошо')               # печатаем "Хорошо"
    elif mark > 4:                    # если оценка больше или равна 4 (но точно меньше 6), то
        print('Удовлетворительно')    # печатаем "Удовлетворительно"
    else:                             # в остальных случаях (то есть оценка меньше 4)
        print('Неудовлетворительно')  # печатаем "Неудовлетворительно"
else:                               # иначе (оценка меньше 0 или больше 10)
    print('Ошибка данных')          # печатаем "Ошибка данных"

5
Удовлетворительно

<center><b><font size=4>Задача №5.</font></b></center>

Используя логические операторы `if` и `else`, напишите следующую программу:

**Иван подается на Повышенную Государственную Академическую Стипендию по достижениям в спортивной сфере. Напишите программу которая покажет, может ли Иван претендовать на получение ПГАС**:
* В переменную `session` считывается переменная `True` или `False` которая означает, закрыл ли студент сессию на оценки на "хорошо" и выше (`True`) или нет (`False`);
* В переменную `diplomas` считывается число полученных Иваном спортивных достижений за последний год.

* Если студент закрыл сессию не на оценки выше "хорошо", то программа печатает строку `"Не можете претендовать"`;

* Если студент закрыл сессию на оценки выше "хорошо" и имеет 1 и более спортивных достижений за последний год (`diplomas`), то программа печатает строку `"Можете претендовать"`. Если достижений за последний год (`diplomas`) нет, то программа печатает `"Не хватает достижений"`.

Примеры тестов вы можете увидеть в табличке:

<center>
    <table>
        <tr>
            <th>session</th>
            <th>diplomas</th>
            <th>Результат</th>
        </tr>
        <tr><td>False</td><td>0</td><td>Не можете претендовать</td></tr>
        <tr><td>False</td><td>1</td><td>Не можете претендовать</td></tr>
        <tr><td>True</td><td>0</td><td>Не хватает достижений</td></tr>
        <tr><td>True</td><td>1</td><td>Можете претендовать</td></tr>
    </table>
</center>

In [ ]:
# YOUR CODE HERE

## Дополнительные материалы <a name="parlast"></a>

+ Документация Python [Built-in Types](https://docs.python.org/3/library/stdtypes.html)
+ Курс на платформе Stepik «Python: основы и применение» ([ссылка на курс](https://stepik.org/course/512/syllabus))
+ Щуров И.В., Тамбовцева А.А., Жучкова С.В. —  курс «Основы программирования в Python» ([ссылка на курс](https://allatambov.github.io/pypolit/pypolit.html))
+ М. Лутц. «Изучаем Python 3», Часть II. Типы и операции.
+ Как работают числа с плавающей точкой? [YouTube](https://www.youtube.com/watch?v=U0U8Ddx4TgE)
+ Jupyter Notebook Markdown [Tutorial](https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook)