## Списки и кортежи <a name="par1"></a>

Ранее мы уже обсуждали списки и кортежи в разговоре о типах данных. Тогда основное отличие заключалось в том, что списки — это изменяемый тип данных, а кортежи — неизменяемый. Проверить, что кортежи нельзя изменить, очень просто:

In [4]:
my_tuple = (1, 2, 3)

In [5]:
my_tuple[0] # индексация работает

1

In [6]:
my_tuple[0] = 0 # а вот попытка изменить кортеж (заменить его элемент) выдает ошибку

TypeError: 'tuple' object does not support item assignment

Синтаксис словаря (на английскойм – *tuple*) выглядит так, а для его создания вам нужно использовать круглые скобки:

```my_tuple = (1, 2, 3, 4, 5)```

Вы можете также создать кортеж с помощью функции `tuple()`:

```tuple([1, 2, 3, 4, 5])  # создаем кортеж из списка```

Оба типа данных представляют собой последовательности, однако кортеж — это неизменяемый и более быстрый аналог списка. Он защищает хранимые данные от непреднамеренных изменений и может использоваться в качестве ключа в словарях.

In [ ]:
import timeit # импортируем модуль timeit

# измеряет, за сколько секунд запустится этот код number раз
print(timeit.timeit('x = (1,2,3,4,5,6,7,8,9)', number=100000)) # когда создаем кортеж
print(timeit.timeit('x = [1,2,3,4,5,6,7,8,9]', number=100000)) # когда создаем список

0.0033723829999985355
0.010176925999985542

Также, если функция возвращает несколько значений, то делает она это в виде кортежа.

In [ ]:
import math     # импортируем модуль math
math.modf(2.34) # к слову, как вы думаете, что делает эта функция?

(0.33999999999999986, 2.0)

Методы `.index()`, `.count()` и функция `len()` работают как с кортежами, так и со списками.

In [ ]:
A = (1, 2, 4) # создаем кортеж A

print(len(A)) # длина кортежа A
print(A.count(1)) # сколько раз число 1 встречается в кортеже A
print(A.index(1)) # возвращает индекс целого числа 1 в кортеже A

3
1
0

## Методы строк (`.join()` и `.split()`) <a name="par2"></a>

Со списками работает больше методов, все их обсудим позже. Пока остановимся только на двух, которые на данный момент могут представлять интерес, они оба имеют оношение к спискам, однако являются методами строк. Речь идет про `.join()` и `split()`.

Чтобы создать список, нужно использовать квадратные скобки и поместить внутрь какие-то значения:

```products = ["яблоки", "бананы", "апельсины"]```

```numbers = [1, 2, 3]```

Вы можете также создать список из кортежа с помощью функции `list()`. Например:

```numbers = list((1, 2, 3)) # результат - [1, 2, 3]```

Можно создать список из строки. Например:

```list('abcde') # ['a', 'b', 'c', 'd', 'e']```

Метод `.join()` из списка <b>строк</b> делает строку.

In [ ]:
products = ["яблоки", "бананы", "апельсины"] # внутри списка products только строки
', '.join(products) # объединяем эти строки в списке в одну большую строку

'яблоки, бананы, апельсины'

Фактически метод применяется к строке `', '` и говорит — используй эту строку в качестве разделителя между другими строками нашего списка.

In [ ]:
', '.join(["яблоки", 111, "апельсины"]) # ошибка TypeError

TypeError: sequence item 1: expected str instance, int found

Если же мы попытаемся объединить так список, состоящий не только из строк, то программа выдаст уже известную нам ошибку.

У этого метода есть еще пара нюансов, которые стоит запомнить. Помните про форматирование строки и f-строки? Попробуем подставить в такую запись `.join()`.

In [ ]:
print(f'В магазине надо купить: {', '.join(products)}') # внутри одинарные кавычки

SyntaxError: f-string: expecting '}' (<ipython-input-18-d0b3e6949be9>, line 1)

Это тот случай, где кавычки важны! Обратите внимание ошибка возникла потому, что f-строка подумала, что она заканчивается вот здесь `В магазине надо купить: {'` и при этом не нашла закрывающуюся скобочку `}`. Как решить проблему? Например, использовать в `.join()` двойные кавычки.

In [ ]:
print(f'В магазине надо купить: {", ".join(products)}') # внутри двойные кавычки

В магазине надо купить: яблоки, бананы, апельсины

И второй нюанс в том, что визуально может быть похоже следующее:

In [ ]:
print(", ".join(products))   # печатаем строку
print(*products, sep = ', ') # распаковываем список

яблоки, бананы, апельсины
яблоки, бананы, апельсины

В первом случае у нас создается строка, во втором — мы просто распаковываем имеющийся список.

Метод `split()` работает в обратную сторону — он буквально разделит нашу строку, и по умолчанию сделает это по пробелам.

Вспомним наш список `years` из прошлой темы.

In [ ]:
years = input()        # вводим какое-то значение
years = years.split()  # разбиваем строку (по умолчанию - по пробелу)
print(years)           # печатаем получившийся результат

1258   1638        1729   982
['1258', '1638', '1729', '982']

Во-первых, обращаем внимание, что убираются все пробелы между символами.

Во-вторых, это все можно было записать в одну строку вот так:

In [ ]:
print(input().split()) # только тут у нас не создается переменная

1258   1638        1729   982
['1258', '1638', '1729', '982']

In [ ]:
print(input().split(', ')) # а еще можно использовать другое разделитель - например, запятую с пробелом

1258   1638        1729   982
['1258   1638        1729   982']

Если тоже самое «разделить» по запятой с пробелом, то получится список, состоящий из одной строки. Однако, если бы в ней были `, `, то наш метод также бы разделил по ним строку.

Вернемся к нашему списку `years` и попробуем вытащить оттуда максимальное значение:

In [ ]:
max(years)

'982'

Ой, что-то пошло не так. Это связано с тем, что было вытащено максимальное/первое значение по алфавиту, ведь мы работаем со строками. Нужно попробовать переделать наш список в список целых чисел. Мы уже обсуждали, как сделать это через цикл `for`, а теперь давайте посмотрим на более быстрый способ с использованием функции `map()`.

## Функция `map()`

In [ ]:
int_years_3 = list(map(int, years))
print(years)
print(int_years_3)

['1258', '1638', '1729', '982']
[1258, 1638, 1729, 982]

Что тут произошло? Функция `map()` буквально говорит: возьми функцию `int()` и примени ее ко всем элементам нашего списка. Возвращает нам объект типа `map`, который потом мы уже преобразовываем в список с помощью функции `list()`.

Функция `map()` может работать не только с встроенными функциями, но и с любыми другими, даже написанными именно нами.

In [ ]:
from math import sqrt

sqrt_years = list(map(sqrt, int_years_3))

print(int_years_3)
print(sqrt_years)

[1258, 1638, 1729, 982]
[35.4682957019364, 40.47221268969612, 41.58124577258358, 31.336879231984796]

Например, возьмем квадратный корень из всех наших значений.

В заключении скажем, что есть еще нечто, называемое безымянными функциями `lambda`, которые также работают с `map()`, но о них мы поговорим чуть позже, при обсуждении функций. Не переживаем, если все, что написано ниже, буде непонятно!! Мы разберемся со всем!

In [ ]:
plus_one_years = list(map(lambda x: x + 1, int_years_3))

print(int_years_3)
print(plus_one_years)

[1258, 1638, 1729, 982]
[1259, 1639, 1730, 983]

А и началось же все с того, что мы хотели максимальный год достать. Вот он:

In [ ]:
print(max(int_years))

1729

А вообще-то нам функция `map()` нужна в основном для ввода списков и других последовательностей.

Допустим, нам нужно ввести список из чисел и найти среди них максимальное.

In [1]:
numbers = list(map(int, input().split()))
print(max(numbers))

1 5 3 2 4
5

Что тут происходит?

1. Применяем функцию ввода – `input()`.
2. *Разделяем (сплитим)* то, что ввели.
3. Применяем ко *всему* введённому (к каждому из полученных элементов) функцию `int` – в этом нам поможет `map()`.
4. Преобразуем полученное в `list` одноимённой функцией.

Если мы вводим не через пробел, а через какой-то другой разделитель, можно прописать его в `split()`:

In [2]:
numbers = list(map(int, input().split(',')))
print(max(numbers))

1,5,3,2,4
5

Или можно преобразовывать в `tuple`, если нам это для чего-то нужно.

In [3]:
numbers = tuple(map(int, input().split(',')))
print(max(numbers))

1,5,3,2,4
5

## Методы списков <a name="par6"></a>

Сейчас перечислим те методы, которые были упомянуты в онлайн-курсе, и методы, которые есть еще. И коротко о том, как они работают.

|Есть в онлайн-курсе | Все остальное |
|:--------------:|:-----:|
| `.append()` |  `.extend()` |
| `.count()`      |  `.insert()` |
| `.remove()`      |  `.pop()` |
| `.index()`      |  `.sort()` |
|     |  `.reverse()` |
|     |  `.copy()` |
|     |  `.clear()` |

Почти все они <u>изменяют исходный список</u>.

In [ ]:
# Метод .extend() добавляет в конец списка А все элементы списка B

A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

A.extend(B)

print(A)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Метод .insert() добавляет в список А на место определенного индекса (2) новый элемент (строку 'new')

A = [1, 2, 3, 4]

A.insert(2, 'new')

print(A)

[1, 2, 'new', 3, 4]

In [ ]:
# Метод .pop() удаляет i-ый (2) элемент из списка А и возвращает его.
# Если индекс не указан, удаляется последний элемент

A = [1, 2, 3, 4]

get_element = A.pop(2)

print(get_element)
print(A)

3
[1, 2, 4]

In [ ]:
# Метод .sort() сортирует список А
# Метод .reverse() разворачивает список В

A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

A.sort()
B.reverse()

print(A)
print(B)

[1, 2, 3, 4]
[8, 7, 6, 5]

In [ ]:
# Метод .copy() создает копию списка A
# Метод .clear() очищает список А

A = [1, 2, 3, 4]

B = A.copy()
A.clear()

print(A) # будет пустым
print(B) # а тут лежит копия

[]
[1, 2, 3, 4]

Не путайте списки с массивами (если кто-то встречался с таким словом). Массивы ограничены тем, что содержат в себе только один тип данных за раз, а в списках может быть сразу несколько. Возможно, чуть позже будет отдельный конспект именно по массивам.

<center><b><font size=4>Задача №1</font></b></center>

**Напишите программу, которая будет спрашивать у пользователя фамилии друзей, с которыми он общался за последнюю неделю и выводит справочную информацию о ваших друзьях:**

* Информация считывается с помощью функции `input()`;

* Отсортировать значения вы можете с помощью функции `sorted()`;

* Фамилии ваших друзей будут разделены запятой с пробелом;

* Гарантируется, что будут введены только строки.

**Ориентируйтесь на тесты ниже:**
<center>
    <table>
        <tr>
            <th><center>Ввод</center></th>
            <th><center>Результат</center></th>
        </tr>
        <tr><td><p>Музыка, Морозов, Егерева</p></td>
            <td><p>За последнюю неделю вы общались с 3 друзьями.</p>
<p>Отсортированный список ваших друзей: ['Егерева', 'Морозов', 'Музыка']</p></td></tr>
        <tr><td>Федоров, Смирнов, Иванов, Потапов, Кузнецов</td>
            <td><p>За последнюю неделю вы общались с 5 друзьями.</p>
                <p>Отсортированный список ваших друзей: ['Иванов', 'Кузнецов', 'Потапов', 'Смирнов', 'Федоров'</p></td></tr>
        <tr><td>        
            <p>Сато, Като, Ёсида, Исикава, Ито, Оота</p></td>
            <td><p>За последнюю неделю вы общались с 6 друзьями.</p>
<p>Отсортированный список ваших друзей: ['Ёсида', 'Исикава', 'Ито', 'Като', 'Оота', 'Сато']</p></td></tr>
    </table>
</center>

In [ ]:
#YOUR CODE HERE

## P.S. Парочка методов строк

In [ ]:
s = 'Столица США - Вашингтон'
print(s)

Столица США - Вашингтон

In [ ]:
s1 = s.lower()
print(s1)

столица сша - вашингтон

In [ ]:
s2 = s.upper()
print(s2)

СТОЛИЦА США - ВАШИНГТОН

In [ ]:
s3 = s1.replace('-', '')
print(s3)

столица сша  вашингтон

In [ ]:
zaklyatie_smekhom = 'О, рассмейтесь, смехачи!\nО, засмейтесь, смехачи!\nЧто смеются смехами, что смеянствуют смеяльно,\nО, засмейтесь усмеяльно!\nО, рассмешищ надсмеяльных — смех усмейных смехачей!\nО, иссмейся рассмеяльно, смех надсмейных смеячей!\nСмейево, смейево!\nУсмей, осмей, смешики, смешики!\nСмеюнчики, смеюнчики.\nО, рассмейтесь, смехачи!\nО, засмейтесь, смехачи!'

In [ ]:
from collections import Counter # функция для подсчёта частот
zaklyatie_list = zaklyatie_smekhom.split()
zaklyatie_list
Counter(zaklyatie_list)

# что надо исправить?

Counter({'О,': 7,
         'рассмейтесь,': 2,
         'смехачи!': 4,
         'засмейтесь,': 2,
         'Что': 1,
         'смеются': 1,
         'смехами,': 1,
         'что': 1,
         'смеянствуют': 1,
         'смеяльно,': 1,
         'засмейтесь': 1,
         'усмеяльно!': 1,
         'рассмешищ': 1,
         'надсмеяльных': 1,
         '—': 1,
         'смех': 2,
         'усмейных': 1,
         'смехачей!': 1,
         'иссмейся': 1,
         'рассмеяльно,': 1,
         'надсмейных': 1,
         'смеячей!': 1,
         'Смейево,': 1,
         'смейево!': 1,
         'Усмей,': 1,
         'осмей,': 1,
         'смешики,': 1,
         'смешики!': 1,
         'Смеюнчики,': 1,
         'смеюнчики.': 1})