### Задача 1

In [ ]:
cities = ['Москва', 'Пермь', 'Краснодар', 'Калининград', 'Якутск']

shipment = 'Готовьте к отгрузке'
multiple_packages = 'Разделите на несколько посылок'
other_company = 'Обратитесь в другую компанию'

# ваш код ниже
city = input()
weight = int(input())
if city in cities:
    if weight <= 1000:
        print(shipment)
    else:
        print(multiple_packages)
else:
    print(other_company)

### Задача 2

In [ ]:
list_of_goods = []
while True:
    s = input()       # вводим без сплита, на случай, если первой же строчкой окажется END
    if s == 'END':    # проверяем, не END ли наша строчка
        break
    else:
        good, cost = s.split(':')  # теперь сплитим
        if int(cost) <= 500:
            list_of_goods.append(good)
print(list_of_goods)

### Задача 3

In [ ]:
list_of_people = input().split(', ')
person = input()
if person not in list_of_people:
    list_of_people.append(person)
print(list_of_people)

### Задача 4

In [ ]:
companies = input().split()
days = list(map(int, input().split()))
day = int(input())
for i in range(len(days)):
    if days[i] > day:
        print(companies[i])

### Задача 5

In [ ]:
A = input().split()
B = input().split()
print(len(set(A) & set(B)))

### Задача 6

In [ ]:
lect_books = set(input().split(','))
higher_courses_books = set(input().split(','))
library_books = set(input().split(','))
print(len((lect_books | higher_courses_books) & library_books))

### Задача 7

In [ ]:
rulers = {'Ленин' : 'СССР', 'Брежнев' : 'СССР',
          'Сёва' : 'Япония', 'Хэйсэй' : 'Япония',
          'Мэйдзи': 'Япония', 'Пу И' : 'Китай',
          'Гуансюй' : 'Китай', 'Умберто II' : 'Италия'}

# ваш код ниже

country = input()
for k, v in rulers.items():
    if v == country:
        print(k)

### Задача 8

In [ ]:
shops = {'Монеточка': [6000, 4000, 2300],
         'Дорожный': [6700, 4000, 2100],
         'Букварь вкусов' : [10000, 8000, 6000],
         'СладкоВилл' : [5000, 9000, 4000]}

# ваш код ниже
income = int(input())
for k, v in shops.items(): # сначала проходимся по словарю
    for v_for_month in v:  # потом по каждому списку
        if v_for_month < income:
            print(k)       # когда находим слишком маленькую прибыль, выводим название магазина
            break          # и переходим к следующему

### Задача 9

Вариант 1

In [ ]:
years = list(map(int, input().split()))
century = int(input())
count = 0
for year in years:
    if (year - 1) // 100 == century - 1: # можно проверить, что век из года получается именно так
        count += 1
print(count)

Вариант 2

In [ ]:
years = list(map(int, input().split()))
century = int(input())
count = 0
for year in years:
    if (year + 99) // 100 == century: # или так
        count += 1
print(count)

Вариант 3

In [ ]:
years = list(map(int, input().split()))
century = int(input())
count = 0
for year in years:
    if year // 100 + 1 == century:
        count += 1
    elif year // 100 == century and year % 100 == 0: # можно отдельным условием проверять года формата 'XX00'
        count += 1
print(count)

Вариант 4

In [ ]:
years = input().split()   # можно проверить через индексы, тогда years сначала оставляем строками
century = int(input())
count = 0
for year in years:
    if int(year) // 100 + 1 == century:                 # а потом в нужных местах переводим в int
        count += 1
    elif int(year) // 100 == century and year[-2:] == '00':
        count += 1
print(count)

### Задача 10

In [ ]:
d1 = {}
while True:
    s = input() # вводим без сплита, на случай, если первой же строчкой окажется END
    if s == 'END': # проверяем, не END ли наша строчка
        break
    s0, s1 = s.split(',') # теперь сплитим
    if s0 not in d1:
      d1[s0] = int(s1)    # если нет товара, добавляем
    else:
      d1[s0] += int(s1)   # если есть, суммируем стоимость

for k, v in d1.items():       # теперь по всему получившемуся словарю ищем максимум
    if v == max(d1.values()):
        print(k, v)